/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/prebuilt-themes/purple-green.css';*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-snack-bar span{
    font-size: 20px !important;
    text-align: center !important; 
    width: 100% !important;
}
.custom-snack-bar-error{
    background-color: tomato;
}
.custom-snack-bar-sucess{
    background-color: lightgreen;    
}
.custom-snack-bar-warning{
    background-color: lightblue;
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}