<mat-form-field appearance="outline" color="accent">
  <mat-label>Aluno/Descrição</mat-label>
  <input matInput [matAutocomplete]="auto" [formControl]="clientCtrl" (blur)="doBlur()" (input)="doInput()" [ngClass]="{'text-selected': isSelected}">
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="selectionChange($event.option.value)">
    <mat-option *ngFor="let cliente of filteredClient | async" [value]="cliente" >
      <span>{{cliente.nome}}</span>
    </mat-option>
  </mat-autocomplete>          
</mat-form-field>