<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-button routerLink="/">
        <mat-icon>star</mat-icon>
        Studio Amandha Teixeira
    </a>
    
    <a mat-button [matMenuTriggerFor]="menuClient" *ngIf="loggedIn()">
      <mat-icon>person</mat-icon>
      Cliente
    </a> 

    <mat-menu #menuClient="matMenu">
      <a mat-menu-item routerLink="/client/create">
        <mat-icon>person_add</mat-icon>
        Novo Cliente
      </a>
      <mat-divider></mat-divider>
      <a mat-menu-item routerLink="/client/read">
        <mat-icon>search</mat-icon>
        Lista de Clientes
      </a>
      <mat-divider></mat-divider>
      <a mat-menu-item routerLink="/client/import">
        <mat-icon>import_export</mat-icon>
        Import Clientes
      </a>
    </mat-menu>

    <a mat-button [matMenuTriggerFor]="menuFinancial" *ngIf="loggedIn()">
      <mat-icon>attach_money</mat-icon>
      Financeiro
    </a> 
       
    <mat-menu #menuFinancial="matMenu">
      <a mat-menu-item routerLink="/financial/create">
        <mat-icon>add_circle_outline</mat-icon>
        Novo Fluxo de Caixa
      </a>
      <mat-divider></mat-divider>
      <a mat-menu-item routerLink="/financial/read">
        <mat-icon>search</mat-icon>
        Lista de Fluxos
      </a>
    </mat-menu>

    <span class="fill-remaining-space"></span>

    <a mat-button routerLinkActive="active" *ngIf="loggedIn()" (click)="onLogoutClick()">
      <mat-icon>directions_run</mat-icon> 
      Logout
    </a>
    <a mat-button routerLinkActive="active" *ngIf="!loggedIn()" (click)="onLoginClick()">
      <mat-icon>login</mat-icon> 
      Login
    </a>
  </mat-toolbar-row>
</mat-toolbar>