.mat-form-field {
    font-size: medium;
    margin-left: 20px;
    width: 100%;
    vertical-align: bottom;
}
mat-card{
    height: calc(100% - 136px); /* 64px from Navbar + 32 from Padding + 40 margin == 136px*/
    margin: 20px;
    overflow: auto;
}
.mat-grid-tile{
    overflow: visible;
}

.mat-column-descricao{
    flex: 1.5;
}
.mat-column-button{
    flex:0.1;
}
.mat-column-tipo_fluxo, .mat-column-valor{
    flex:0.4;
}
.mat-column-periodo_referencia_inicio, .mat-column-periodo_referencia_fim{
    flex:0.5;
}

.mat-row:hover {
    background-color: gray;
}

.icon-red{
    color: red;
}
.icon-green{
    color:green;
}