<mat-card>
    <mat-card-title>  
      <mat-grid-list cols="10" rowHeight="55">
        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <mat-form-field color="accent">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="1"></mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-form-field color="accent">
            <mat-label>Periodo de Referência</mat-label>
            <mat-date-range-input [rangePicker]="picker" [formGroup]="formPeriodoReferencia">
              <input matStartDate placeholder="Data Inicio" formControlName="date_inicio">
              <input matEndDate placeholder="Data Fim" formControlName="date_fim" (dateChange)="onSelected($event)">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker disabled="false"></mat-date-range-picker>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list> 
      <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
    </mat-card-title>

    <mat-card-content>
      <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="tipo_fluxo">
          <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
          <mat-cell *matCellDef="let row">
              <mat-icon [ngClass]="{'icon-green': row.tipo_fluxo=='Receita','icon-red':row.tipo_fluxo=='Despesa'}">
                 {{row.tipo_fluxo | iconTipo}} 
              </mat-icon>
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="descricao">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Descricao </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.descricao}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="valor">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Valor</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.valor}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="forma_pagamento">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Forma de Pagamento</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.forma_pagamento}} </mat-cell>
        </ng-container>
          
        <ng-container matColumnDef="periodo_referencia_inicio">
          <mat-header-cell *matHeaderCellDef> Periodo Inicio </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.periodo_referencia_inicio}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="periodo_referencia_fim">
          <mat-header-cell *matHeaderCellDef> Periodo Fim </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.periodo_referencia_fim}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="professor">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Professor </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.professor}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="button">
          <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-icon-button color="warn"  (click)="onRemoveClick(row)">
              <mat-icon>remove_circle</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="onEditItem(row)"></mat-row>
      </mat-table >
      <div [hidden]='!isLoading'>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>     
      </div>
      <mat-paginator [pageSize]="7" [pageSizeOptions]="[7, 50, 100]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>
  
