mat-card-title{
    display: flex;
}
mat-card-title mat-label{
    font-size: 16px;
    padding: 10px;
}
mat-card{
    height: calc(100% - 136px); /* 64px from Navbar + 32 from Padding + 40 margin == 136px*/
    margin: 20px;
    overflow: auto;
}

mat-card-title button{
    margin: 0 20px;
}

.mat-column-nome, .mat-column-email{
flex: 2;
}

.mat-column-button{
flex:0.1;
}

.mat-row:hover {
background-color: gray;
}