<mat-card>
    <mat-card-title>  
      <input type="file" #uploader (change)="addfile($event)" accept=".csv,.xlsx,.xls" hidden> 
      <button mat-raised-button color="accent" (click)="uploader.click()">Selecione o arquivo a ser importado</button>
      <mat-label> {{filename}} </mat-label>

      <span class="fill-remaining-space"></span>
      
      <button mat-raised-button color="warn" (click)="resetView()" [disabled]='isEmpty'>Limpar</button>
      <button mat-raised-button color="accent" (click)="saveArrayOfClients()" [disabled]='isEmpty'>Salvar</button>
    </mat-card-title>
    <mat-card-content>
      <mat-table [dataSource]="dataSource" matSort>
        <!-- CPF Column -->
        <ng-container matColumnDef="cpf">
          <mat-header-cell *matHeaderCellDef mat-sort-header> CPF </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.cpf | cpf}} </mat-cell>
        </ng-container>
  
        <!-- Nome Column -->
        <ng-container matColumnDef="nome">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.nome}} </mat-cell>
        </ng-container>
  
        <!-- EMAIL Column -->
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
        </ng-container>
  
        <!-- Data Nascimento Column -->
        <ng-container matColumnDef="data_nascimento" >
          <mat-header-cell *matHeaderCellDef > Data de Nascimento </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.data_nascimento | dataNascimento}} </mat-cell>
        </ng-container>
  
        <!-- Telefone Column -->
        <ng-container matColumnDef="telefone">
          <mat-header-cell *matHeaderCellDef > Telefone </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.telefone | telefone}} </mat-cell>
        </ng-container>
  
        <!-- CEP Column -->
        <ng-container matColumnDef="cep">
          <mat-header-cell *matHeaderCellDef > CEP </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.endereco.cep | cep}} </mat-cell>
        </ng-container>
  
        <!-- BTN REMOVE Column -->
        <ng-container matColumnDef="button">
          <mat-header-cell *matHeaderCellDef > </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-icon-button color="warn"  (click)="removeFromImport(row)">
              <mat-icon>remove_circle</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="onEditItem(row)"></mat-row>        
      </mat-table >
      
      <div [hidden]='!isLoading'>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>     
      </div>
      <div [hidden]='isEmpty'>  
        <mat-paginator [pageSize]="7" [pageSizeOptions]="[7, 10, 25, 50]" showFirstLastButtons></mat-paginator>
      </div>
      
      
      
    </mat-card-content>
  </mat-card>
  