.mat-form-field {
  font-size: medium;
  margin-left: 20px;
  width: 100%;
}
mat-card{
  height: calc(100% - 136px); /* 64px from Navbar + 32 from Padding + 40 margin == 136px*/
  margin: 20px;
  overflow: auto;
}

.mat-column-nome, .mat-column-email{
flex: 2;
}

.mat-column-button{
flex:0.1;
}

.mat-row:hover {
  background-color: gray;
}