<mat-card>
  <mat-card-title>   
  
    <mat-grid-list cols="10" rowHeight="45">
      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <mat-form-field color="accent">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro" >
        </mat-form-field> 
      </mat-grid-tile>
      <mat-grid-tile [colspan]="5" [rowspan]="1">
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
          <button mat-raised-button color="accent" (click)="getClients()">Refresh</button>        
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-title>
  <mat-card-content>
    <mat-table [dataSource]="dataSource" matSort matSortActive="nome" matSortDirection="asc">
      <!-- CPF Column -->
      <ng-container matColumnDef="cpf">
        <mat-header-cell *matHeaderCellDef mat-sort-header> CPF </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.cpf | cpf}} </mat-cell>
      </ng-container>

      <!-- Nome Column -->
      <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.nome}} </mat-cell>
      </ng-container>

      <!-- EMAIL Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
      </ng-container>

      <!-- Data Nascimento Column -->
      <ng-container matColumnDef="data_nascimento">
        <mat-header-cell *matHeaderCellDef> Data de Nascimento </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.data_nascimento | dataNascimento}} </mat-cell>
      </ng-container>

      <!-- Telefone Column -->
      <ng-container matColumnDef="telefone">
        <mat-header-cell *matHeaderCellDef> Telefone </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.telefone | telefone}} </mat-cell>
      </ng-container>

      <!-- CEP Column -->
      <ng-container matColumnDef="cep">
        <mat-header-cell *matHeaderCellDef> CEP </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.endereco.cep | cep}} </mat-cell>
      </ng-container>

      <!-- BTN REMOVE Column -->
      <ng-container matColumnDef="button">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button color="warn"  (click)="onRemoveClick(row)">
            <mat-icon>remove_circle</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="onEditItem(row)"></mat-row>
    </mat-table >
    <div [hidden]='!isLoading'>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>     
    </div>
    <div [hidden]='isEmpty'>  
      <mat-paginator [pageSize]="7" [pageSizeOptions]="[7, 10, 25, 50]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
