mat-card{
  height: calc(100% - 136px); /* 64px from Navbar + 32 from Padding + 40 margin == 136px*/
  margin: 20px;
  overflow: auto;
}

mat-card-title{
  text-align: center;
}

mat-form-field, app-client-autocomplete{
  height: 100%;
  width: 100%;
  font-size: 16px;
  margin:10px;
}

.radio-group{
  display: flex; 
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-left: 20px;  
}
.radio-group mat-label{
  font-size: 20px;
  padding-top: 20px;
}
.radio-group mat-radio-button{
  padding-top: 20px;
  padding-left: 20px;
  font-size: 16px;
}