<mat-card class="mat-elevation-z8">
    <mat-card-title>
      <mat-grid-list cols="30" rowHeight=40>
        <mat-grid-tile [colspan]="2" [rowspan]="2">
          <button mat-raised-button color="accent" (click)="onNew()">Novo</button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="26" [rowspan]="2">
          Cadastro de Fluxo de Caixa
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="2">
          <button mat-raised-button color="primary" (click)="onSave()">Salvar</button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-title>
  
    <mat-card-content>
      <form [formGroup]="formFluxoCaixa">
        <mat-grid-list cols="30" rowHeight=40>

          <mat-grid-tile [colspan]="8" [rowspan]="5">
            <mat-radio-group class="radio-group" formControlName="tipo_fluxo" required>
              <mat-label>Tipo de Fluxo</mat-label>
              <mat-radio-button class="radio-button" *ngFor="let tipoFluxo of tipoFluxos" [value]="tipoFluxo.value">
                {{tipoFluxo.value}}
              </mat-radio-button>
            </mat-radio-group>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="16" [rowspan]="2">
            <mat-form-field appearance="outline" color="accent">
              <mat-label>Valor</mat-label>
              <input matInput required formControlName="valor" mask="0*,00" [dropSpecialCharacters]="false">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="6" [rowspan]="2">
            <mat-form-field appearance="outline" color="accent">
              <mat-label>Data do Pagamento</mat-label>
              <input matInput [matDatepicker]="dp3" formControlName="data_pagamento" readonly>
              <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
              <mat-datepicker #dp3 disabled="false"></mat-datepicker>
            </mat-form-field>            
          </mat-grid-tile>

          <mat-grid-tile [colspan]="16" [rowspan]="2">
            <app-client-autocomplete formControlName="descricao" (autoCompleteChange)="autoCompleteOnChange($event)"></app-client-autocomplete>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="6" [rowspan]="2">
            <mat-form-field appearance="outline" color="accent">
              <mat-label>CPF Pagador</mat-label>
                <input matInput formControlName="cpf_pagador" mask="000.000.000-00">
              </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="8" [rowspan]="2">
            <mat-form-field appearance="outline" color="accent">
              <mat-label>Periodo de Referência</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Data Inicio" formControlName="periodo_referencia_inicio">
                <input matEndDate placeholder="Data Fim" formControlName="periodo_referencia_fim">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="8" [rowspan]="2">
            <mat-form-field appearance="outline" color="accent">
              <mat-label>Forma de Pagamento</mat-label>
              <mat-select formControlName="forma_pagamento" (selectionChange)="onSelectedFormaPagamento($event.value)">
                <mat-option *ngFor="let forma of formaPagamentos" [value]="forma.value">
                  {{forma.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="6" [rowspan]="2">
            <mat-form-field appearance="outline" color="accent">
              <mat-label>Número de Parcelas</mat-label>
              <mat-select formControlName="parcelas" required>
                <mat-option *ngFor="let parcela of parcelas" [value]="parcela">
                  {{parcela}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile> 
                        
          <mat-grid-tile [colspan]="8" [rowspan]="5">
            <mat-radio-group class="radio-group" formControlName="professor" required
            *ngIf="formFluxoCaixa.get('tipo_fluxo').value == 'Receita'">
              <mat-label>Professores</mat-label>
              <mat-radio-button class="radio-button" *ngFor="let professor of professores" [value]="professor.value">
                {{professor.value}}
              </mat-radio-button>
            </mat-radio-group>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="22" [rowspan]="4">
            <mat-form-field appearance="outline" color="accent">
              <mat-label>Observações</mat-label>
              <textarea matInput formControlName="observacao" 
              cdkTextareaAutosize cdkAutosizeMinRows="6"></textarea>
            </mat-form-field>
          </mat-grid-tile>



        </mat-grid-list>
      </form>
    </mat-card-content>
  </mat-card>
  