mat-card{
    height: calc(100% - 136px); /* 64px from Navbar + 32 from Padding + 40 margin == 136px*/
    margin: 20px;
    overflow: auto;
  }
  
mat-card-title{
    text-align: center;
}

mat-form-field{
    height: 100%;
    width: 100%;
    font-size: 16px;
    margin:0 10px;
}
  