<mat-card class="mat-elevation-z8">
    <mat-card-title>
      <mat-grid-list cols="30" >
        <mat-grid-tile [colspan]="2" [rowspan]="2">
          <button mat-raised-button color="accent" (click)="resetForm()">Novo</button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="24" [rowspan]="2">
          {{isUpdate?'Edição de Cliente':'Cadastro de Clientes'}}
        </mat-grid-tile> 
        <mat-grid-tile [colspan]="2" [rowspan]="2">
          <div [hidden]='!isUpdate'>
            <button mat-raised-button color="warn" (click)="voltarClick()" >Voltar</button>
          </div>
        </mat-grid-tile>       
        <mat-grid-tile [colspan]="2" [rowspan]="2">
          <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-title>
    <div [hidden]='!isLoading'>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>     
    </div>
    <mat-card-content>
      <form [formGroup]="formClient">
        <mat-grid-list cols="30" rowHeight=45>
          <mat-grid-tile [colspan]="20" [rowspan]="2">
            <mat-form-field appearance="outline" color="accent">
              <mat-label>Nome</mat-label>
              <input matInput required formControlName="nome" >
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="10" [rowspan]="2">
            <mat-form-field appearance="outline" color="accent">
              <mat-label>CPF</mat-label>
                <input matInput required formControlName="cpf" mask="000.000.000-00">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="16" [rowspan]="2">
            <mat-form-field appearance="outline" color="accent">
              <mat-label>E-mail</mat-label>
              <input matInput formControlName="email">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="7" [rowspan]="2">
            <mat-form-field appearance="outline" color="accent">
              <mat-label>Telefone</mat-label>
              <input matInput formControlName="telefone" mask="(00)00000-0000 || (00)0000-0000">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="7" [rowspan]="2">
            <mat-form-field appearance="outline" color="accent">
              <mat-label>Data de Nascimento</mat-label>
              <input matInput formControlName="data_nascimento" mask="00/00/00">
            </mat-form-field>
          </mat-grid-tile>      

        <mat-grid-tile [colspan]="10" [rowspan]="2" formGroupName="endereco">
          <mat-form-field appearance="outline" color="accent">
            <mat-label>CEP</mat-label>
            <input matInput formControlName="cep" #input_cep (blur)="consultaCEP(input_cep.value)" mask="00000-000">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="7" [rowspan]="2" formGroupName="endereco">
          <mat-form-field appearance="outline" color="accent">
            <mat-label>Numero</mat-label>
            <input matInput formControlName="numero">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="7" [rowspan]="2" formGroupName="endereco">
          <mat-form-field appearance="outline" color="accent">
            <mat-label>Complemento</mat-label>
            <input matInput formControlName="complemento">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="6" [rowspan]="2" formGroupName="endereco">
          <mat-form-field appearance="outline" color="accent">
            <mat-label>UF</mat-label>
            <input matInput formControlName="uf">
          </mat-form-field>
        </mat-grid-tile> 
        <mat-grid-tile [colspan]="10" [rowspan]="2" formGroupName="endereco">
          <mat-form-field appearance="outline" color="accent">
            <mat-label>Logradouro</mat-label>
            <input matInput formControlName="logradouro">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="10" [rowspan]="2" formGroupName="endereco">
          <mat-form-field appearance="outline" color="accent">
            <mat-label>Localidade</mat-label>
            <input matInput formControlName="localidade">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="10" [rowspan]="2" formGroupName="endereco">
          <mat-form-field appearance="outline" color="accent" > 
            <mat-label>Bairro</mat-label>
            <input matInput formControlName="bairro">
          </mat-form-field>
        </mat-grid-tile>         
        </mat-grid-list>
      </form>
    </mat-card-content>
  </mat-card>
  