mat-card-title{
    text-align: center;
    padding: 10px;
}

mat-form-field{
    width: 100%;
    height: 100%;
    font-size: 16px;  
}

mat-card{
    margin: auto;
    max-width: 400px;
    margin-top: 50px;
}

.button-style{
    height: 50px;
    width: 100%;
    font-size: 20px;
    margin-top: 20px;
}

