<mat-card >
  <mat-card-title>LOGIN</mat-card-title>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Usuário</mat-label>
        <input matInput formControlName="username" required>
        <mat-icon matSuffix>account_circle</mat-icon>
        <mat-error *ngIf="!formValidateService.isValid('username',loginForm)">
          {{formValidateService.getMsg('username',loginForm)}}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" color="accent">
        <mat-label>Senha</mat-label>
        <input type='password' matInput formControlName="password" required>
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error *ngIf="!formValidateService.isValid('password',loginForm)">
            {{formValidateService.getMsg('password',loginForm)}}
          </mat-error>
      </mat-form-field>
      <button class="button-style" mat-raised-button  type="submit" color="accent">ENVIAR <mat-icon>send</mat-icon></button>
    </form>
  </mat-card-content>
</mat-card>